<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Users</title>

  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="stylesheet" th:href="@{/css/base.css}"/>

</head>
<body>


<div class="container-fluid">
  <div th:include="navBar :: navbar"></div>
  <div class="content">



    <div id="user-table">
      <div th:include="admin/users_user_table :: users"></div>
    </div>
  </div>
</div>




<script type="text/javascript"
        th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


<script>
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");

  $(document).ajaxSend(function (e, xhr, options) {
    xhr.setRequestHeader(header, token);
  });


  var body = $('body');

  body.on('click', '.btn_delete', function () {
    var id = $(this).attr('data');
    $('#div_hidden_delete_' + id).attr("class", "show");
    $('#div_visible_delete_' + id).attr("class", "hidden");
  });

  body.on('click', '.btn_delete_ok', function () {
    var id = $(this).attr('data');
    $.ajax({
      type: "DELETE",
      url: "users/" + id,
      success: function (response) {
        $("#user-table").html(response);
      },
      error: function (response) {
        console.error(response);
      }
    })
  });
  body.on('click', '.btn_delete_cancel', function () {
    var id = $(this).attr('data');
    $('#div_hidden_delete_' + id).attr("class", "hidden");
    $('#div_visible_delete_' + id).attr("class", "show");
  });

</script>
</body>
</html>
