<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>User</title>

  <link rel="stylesheet" th:href="@{/css/base.css}"/>

</head>
<body>
<div class="container-fluid">
  <div th:include="navBar :: navbar"></div>
  <div class="content">

    <h2>Welcome back, <span th:if="${user.username} != null" th:text="${user.username}"></span></h2>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Recommendation of the Day</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Order status</h3>
      </div>
      <div class="panel-body">
        <table>
          <tr>
            <thead>
            <td>Bluray</td>
            </thead>
          </tr>
          <tr th:each="order : ${user.getOrdersReady()}">
            <td th:text="${order.bluray.title}"></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript"
        th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>